.idea
venv
segmentation/__pycache__/
segmentation/res
segmentation/corpus
segmentation/ncrfpp_project/model/__pycache__/
segmentation/ncrfpp_project/utils/__pycache__/
language_modelling/awdlstmlm/__pycache__/
models/awdlstm/chukchi_model.pt